*.log
*.npz
*.npy
*.h5
*.jpg
__pycache__
.vscode/
*.pth
*.tar
*.pkl
*.model
*.out
*.rttm
*.pyc
*.png
*.pt
*.wav
output/
data/
*.pt
*.ckpt
save/
debug/
scripts.sh
dataset/tracks/
dataset/labs/
dataset/rttms/
dataset/videos/
dataset/waves/
dataset/tracklets/
dataset/third_party/
dataset/aligned_tracklets/