torchaudio==0.8.0
intervaltree==3.0.2
torchvision==0.9.0
pytorch_lightning
iopath==0.1.8
torch==1.8.0
opencv_python_headless==4.5.1.48
numpy==1.19.0
SoundFile==0.10.3.post1
omegaconf==2.0.6
matplotlib==3.3.4
scipy==1.5.4
demjson==2.2.4
tqdm==4.49.0
packaging==20.9
librosa==0.8.0
av==8.0.3
pandas==1.1.5
requests==2.23.0
termcolor==1.1.0
fairscale==0.3.7
scikit_learn==0.24.2
gdown